.page-wrapper, .page-wrapper-minimized {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    width: calc(100% - 300px);
    position: fixed;
    top: 50px;
    height: calc(100% - 50px);
}
.page-wrapper-minimized {
    margin-left: 85px;
    width: calc(100% - 85px);
}
.page {
    width: 1000px;
    overflow: visible;
}
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
    .page-wrapper {
        justify-content: flex-start;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1085px) {
    .page-wrapper-minimized {
        justify-content: flex-start;
    }
}
@media only screen and (min-width: 0) and (max-width: 1000px) {
    .page-wrapper, .page-wrapper-minimized {
        justify-content: flex-start;
        margin-left: 20px;
        width: calc(100% - 20px);
    }
}